.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
    height: 0;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.card-container:hover .card-flip .back {
    height: 100%;
}

.main-img{
    border-radius: 3px;
    width: 100%;
    min-height: 120px;
    min-width: 200px;
    max-height: 120px;
    max-width: 200px;
}

.back-text {
    font-size: larger;
}

.bottom {
    border-bottom: 1px solid black;
    color: black;
}

.top {
    border-top: 1px solid black;
    color: black;
}

ul{
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}

.custom-price-label {
    text-align: right;
    width: 100%;
    color: #29e029;
    font-weight: bold;
    font-size: 27px;
    font-family: serif;
}