<div class="card-container">
    <div class="card">
        <div class="card-body front">
            <div class="row justify-content-center">
                <img class="main-img" src="{{carElement.pictures[0].pictureUrl}}" (click)="openImage(carElement.pictures[0].pictureUrl)">
            </div>
            <div class="row mt-3">
                <ul>
                    <li>Marca: {{carElement.carBrand}}</li>
                    <li>Modelo: {{carElement.carModel}}</li>
                    <li>Año: {{carElement.carYear}}</li>
                </ul>
            </div>
            <div class="row">
                <p class="custom-price-label">${{carElement.carPrice | number:'1.2-2'}}</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <small>{{createdDate}}</small>
                </div>
                <div class="col-md-6">
                    <mat-checkbox (change)="comparativeSelected($event, carElement.carPk)">Comparar</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>