.custom-col-4 {
    border-right: solid 0.5px;
    border-color: #e2e2e2;
    margin-bottom: 30px;
}

.custom-table table,
  .custom-table thead,
  .custom-table tbody,
  .custom-table th,
  .custom-table td,
  .custom-table tr {
    display: block;
  }

  .custom-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .custom-table tr { border: 1px solid #ccc; }

  .custom-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    white-space: normal;
    text-align:left;
  }

  .custom-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  .custom-table td:before { content: attr(data-title); }

  .custom-car-img {
    max-width: 200px;
    min-width: 200px;
    max-height: 100px;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .custom-price-h1 {
    width: 100%;
    text-align: right;
    color: green;
    margin-right: 10px;
    font-family: serif;
  }

  .custom-row {
    border-bottom: solid 1px lightgray;
  }