<div class="row mt-5">
    <div class="col-md-4 custom-col-4">
        <div class="row justify-content-center custom-row">
            <img class="custom-car-img" src="{{cars[0].pictures[0].pictureUrl}}">
        </div>
        <div class="row">
            <table class="table table-striped custom-table ng-scope">
                <thead class="cf">
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <td data-title="Marca">‎{{cars[0].carBrand}}</td>
                    <td data-title="Modelo">{{cars[0].carModel}}</td>
                    <td data-title="Año">{{cars[0].carYear}}</td>
                </tbody>
            </table>
            <h1 class="custom-price-h1">${{cars[0].carPrice | number:'1.2-2'}}</h1>
        </div>
    </div>
    <div class="col-md-4 custom-col-4">
        <div class="row justify-content-center custom-row">
            <img class="custom-car-img" src="{{cars[1].pictures[0].pictureUrl}}">
        </div>
        <div class="row">
            <table class="table table-striped custom-table ng-scope">
                <thead class="cf">
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <td data-title="Marca">‎{{cars[1].carBrand}}</td>
                    <td data-title="Modelo">{{cars[1].carModel}}</td>
                    <td data-title="Año">{{cars[1].carYear}}</td>
                </tbody>
            </table>
            <h1 class="custom-price-h1">${{cars[1].carPrice | number:'1.2-2'}}</h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row justify-content-center custom-row">
            <img class="custom-car-img" src="{{cars[2].pictures[0].pictureUrl}}">
        </div>
        <div class="row">
            <table class="table table-striped custom-table ng-scope">
                <thead class="cf">
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    <td data-title="Marca">‎{{cars[2].carBrand}}</td>
                    <td data-title="Modelo">{{cars[2].carModel}}</td>
                    <td data-title="Año">{{cars[2].carYear}}</td>
                </tbody>
            </table>
            <h1 class="custom-price-h1">${{cars[2].carPrice | number:'1.2-2'}}</h1>
        </div>
    </div>
</div>