<mat-sidenav-container class="all-wrap" fullscreen>
    <div class="page-wrap">
        <header role="banner">
            <mat-toolbar color="primary">
                <img src="../assets/logo.gif" class="custom-logo-img" [routerLink]="['/home']">
            </mat-toolbar>
        </header>
        <main>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</mat-sidenav-container>