.custom-sidenav-logo-container {
    /* background: #072556; */
    margin-top: 0px !important;
    padding-top: 30px;
    padding-bottom: 10px;
    /* border-bottom: solid 0.5px #1aff00 */
}
.custom-logo-img {
    max-width: 50px; 
    max-height: 50px;
}

mat-sidenav {
    background: #eaeaea;
    border-right: solid 3px #24ad15;
}

mat-toolbar {
    background: #24ad15 !important;
}

.custom-comparative-a {
    color: white;
}