<div class="row mt-5">
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-10 col-xs-8 col-8">
                <i matTooltip="Agregar filtros" [matTooltipPosition]="'after'" class="fa fa-filter custom-filter-icon" aria-hidden="true" (click)="displayFilter()"></i>
            </div>
            <div class="col-md-2 col-xs-2 col-2 text-right">
                <i matTooltip="Comparar" [matTooltipPosition]="'before'" class="fa fa-bar-chart custom-filter-icon" aria-hidden="true" (click)="compare()"></i>
            </div>
        </div>
    </div>
    <mat-radio-group class="row w-100" *ngIf="showFilter">
        <div class="col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="row">
                <mat-radio-button checked class="col-md-3" value="1" (change)="onCriteriaChanged('carBrand')">Marca</mat-radio-button>
            </div>
            <div class="row animated tada" *ngIf="filter === 'carBrand'">
                <mat-form-field>
                    <input matInput placeholder="Marca" (keyup)="onFilterChanged()" [(ngModel)]="textFinder">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="row">
                <mat-radio-button class="col-md-3" value="2" (change)="onCriteriaChanged('carModel')">Modelo</mat-radio-button>
            </div>
            <div class="row animated tada" *ngIf="filter === 'carModel'">
                <mat-form-field>
                    <input matInput placeholder="Modelo" (keyup)="onFilterChanged()" [(ngModel)]="textFinder">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="row">
                <mat-radio-button class="col-md-3" value="3" (change)="onCriteriaChanged('carYear')">Año</mat-radio-button>
            </div>
            <div class="row animated tada" *ngIf="filter === 'carYear'">
                <mat-form-field>
                    <input matInput placeholder="Año" (keyup)="onFilterChanged()" [(ngModel)]="textFinder">
                </mat-form-field>
            </div>
        </div>
    </mat-radio-group>
</div>
<hr>
<div class="container">
    <div class="row justify-content-center gray-bg">
        <div *ngFor="let car of filteredCarsList" class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
            <card-component (comparativeSelectedEvent)="onComparativeSelected($event)" [carElement]="car"></card-component>
        </div>
    </div>
</div>