@import "~bootstrap/dist/css/bootstrap.css";
@import "~animate.css/animate.min.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: green !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: green !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:green !important;
}